.comentarios {
    margin-top: 20px;
  }
  
 
  .comentarios h2 {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 10px;
  }
  
  
  .comentario {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
 
  .comentario p:first-child {
    font-weight: 600;
    margin-bottom: 5px;
  }
  
 
  .comentario p:last-child {
    margin: 0;
    color: #555;
  }
  